<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultats de Wikidata</title>
</head>
<body>
    <h1>Résultat de l'API Wikidata pour {{ id }}</h1>
    <h2>Informations sur la requête</h2>
    <ul>
        <li>Code HTTP : {{ http_code }}</li>
        <li>Type de contenu : {{ content_type }}</li>
    </ul>
    {% if entity %}
    <h2>Données de l'entité</h2>
    <pre>{{ entity | tojson(indent=2) }}</pre>
{% elif error_message %}
    <h2>Erreur</h2>
    <p style="color:red;">{{ error_message }}</p>
{% endif %}
</body>
</html>
